.background {
        position: relative;
        min-height: 100%;
        margin: 0 auto 0 auto;
        min-width: 940px;
        padding: 0;
        overflow-x: hidden;
        background: url(../images/bg4.jpg) no-repeat  50% 50% fixed;
        background-size: cover;
      }
      body {
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 16px;

      }
      hr {
        border-top: 1px solid #999;
        margin: 20px 30px;
      }
      .logo {
        color: #333;
        padding: 30px 0px 30px 85px;
      }
      .top_menu {
        margin: 30px 35px 30px 0px;
        font-size: 16px;
        font-weight: bold;
      }
      .footer_custom {
        text-align: center;
        padding: 0 0 30px;
        color: #333;

      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 940px;
        background: url(../images/4.png) repeat 0 0;
      }
      .container-narrow > hr {
        /*margin: 30px 0;*/
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 0px;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        /*margin: 60px 0;*/
        margin: 10px 10%;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      .row_center{
        text-align: center;
      }
      .about
      {
        text-align: justify;
        margin: 10px 25px;
        padding-top:20px;
      }
      .article
      {
        padding: 0px 75px;
      }
       .article p {
        font-size: 16px;
        line-height: 22px;
        text-indent:40px;
        /*padding:0 60px ;*/      
      }
      .article ul {
       padding:0 60px; 
      }
      .history {
        font-size: 18px;
        line-height: 22px;
        text-indent:40px;
      }
      thead {
        font-weight: 700;
      }
     .table_size {
      width: 400px;
     }
     .snoska{
      font-style: italic;
     }
     .nav-pills > .active > a:hover {
        color:#fff;
        background-color: #0055cc;
      }
      .emdi {
      float: right;
      margin: -65px 30px;
      width: 100px;
      height: 40px;
      background-image: url(../img/emdi.png);
      background-position: center center;
      }
      .content {
      min-height: 400px;        
      }